.checkout-page {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .navbar {
    background-color: #e91e63;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .navbar nav a:hover {
    background-color: white;
    color: #e91e63;
  }
  
  .logo img {
    height: 60px;
    width: 60px;
  }
  
  .checkout-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  h1 {
    text-align: center;
    color: #e91e63;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 15px;
    color: #333;
  }
  
  .checkout-form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    grid-template-columns: 2fr 1fr;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }

  .payment{
    background-color: #e91e63;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    width:150%;
    cursor: pointer;
    margin-top: 15px;
    margin-left:90px;

  }
  
  .payment:hover {
    background-color: #d0175a;
  }
  
